 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 /*configuração geral do site*/
 .caixa-maior {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background-image: url("https://i.ibb.co/rKtsXr1x/imagem-de-fundo.png");
   background-size: cover;
   background-position: center;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
 }

 .form-container {
   background-color: rgb(255, 255, 255);
   padding: 40px;
   border-radius: 12px;
   box-shadow: 0 5px 20px;
   width: 100%;
   max-width: 500px;
 }

 /*configuração do tutilo 'Login'*/
 .form-container h2 {
   text-align: center;
   margin-bottom: 30px;
   color: #191e2b;
 }

 .form-group {
   margin-bottom: 20px;
 }

 .form-group label {
   display: block;
   margin-bottom: 6px;
   font-weight: 500;
   color: #333;
 }

 .form-group input {
   width: 100%;
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 6px;
   font-size: 1rem;
 }

 .form-group input:focus {
   border-color: #00c6e6;
   outline: none;
 }

 button {
   background-color: #00c6e6;
   text-align: center;
   text-decoration: none;
   color: white;
   border: none;
   padding: 14px;
   width: 100%;
   border-radius: 6px;
   font-size: 1rem;
   font-weight: bold;
   cursor: pointer;
   transition: 0.3s;
 }

 .login-link {
   text-align: center;
   margin-top: 20px;
   font-size: 0.9rem;
 }

 .login-link a {
   color: #00c6e6;
   text-decoration: none;
 }

 .login-link a:hover {
   text-decoration: underline;
 }
