body {
    margin: 0;

    box-sizing: border-box;

}

.título {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

}

.btn-primary {
    color: black;
    background-color: #00c6e6;
    padding: 10px 50px 10px;
    font-size: 20px;
    border-radius: 100px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    left: 85%;
    bottom: 50px;

}

.nav-menu {
    color: black;
    background-color: rgb(39, 58, 133);
    padding: 10px 535px 10px;
    font-size: 10px;
    position: relative;
    bottom: 20px;
}

button {
    border: none;

    padding: 5px 8px;
    font-size: 20px;
    cursor: pointer;
    background-color: #00c6e6;








}