/* alinhamento do site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* corpo do site */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  background-color: #f8f9fa;
  line-height: 1.6;
}

/* parte superior */
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: #333;
}

/*logo imagem + título */
.logo-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

/*ajuste da logo*/
.logo-img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  object-fit: cover;
}

/*ajuste do titulo principal*/
.logo-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #191e2b;
}

/*ajuste do nome virtual*/
.logo-text span1 {
  color: #253045;
}

/*botão acessar plataforma */
.btn-primary {
  background-color: #0c345b;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

/* ajuste banner meio */
.hero {
  background-image: url("https://i.ibb.co/MxpWFrS0/crian-as-fudo-do-site.png");
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  align-items: center;
  padding: 0 5%;
  position: relative;
  color: white;
}

/*banner meio*/
.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/*ajuste texto banner*/
.hero-content {
  max-width: 800px;
  z-index: 2;
  position: relative;
}

/*ajuste texto banner*/
.hero h1 {
  margin-bottom: 15px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

/*ajuste do paragrafo banner*/
.hero p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

/*botão saiba mais*/
.hero .btn-primary {
  background-color: #0c345b;
  color: white;
  padding: 12px 25px;
  font-size: 1.1rem;
}

/* Pilares */
.pilares {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 60px 5%;
  flex-wrap: wrap;
}

/*configuração pilares*/
.pilar {
  flex: 1;
  min-width: 280px;
  background: white;
  color: #333;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.336);
  transition: transform 0.3s ease;
}

/*ajuste  pilar*/
.pilar h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #191e2b;
}

/*textos pilares*/
.pilar p {
  font-size: .95rem;
  color: #666;
}

/*centro do site */
.title {
  text-align: center;

}

/* fim de pagina */

/*texto fale conosco*/
.contato{
  text-align: right;
}

/*parte inferior*/
footer {
  background: #0c345b;
  color: #bfc0d1;
  text-align: left;
  padding: 20px;
  margin-top: 60px;
  border-top: 1px solid #253045;
}

/*formulario de contato*/
form.ajuda{
  border: none;
}

/*links fim de pagina*/
footer a {
  color: #13e0ff;
  text-decoration: none;
}
